<!DOCTYPE html>
<html>
	<head>
		<title>generate</title>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		<input class="start_button" type="button" value="start">
		<input class="stop_button" type="button" value="stop">
	</body>

</html>